<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartdse2.android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- [END gcm_permission] -->
    <application
        android:allowBackup="true"
        android:name=".utils.GlobalVars"

        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:finishOnTaskLaunch="true"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.facebook.ads.AudienceNetworkActivity"

            android:finishOnTaskLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:finishOnTaskLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.MainActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.About"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DSE30List"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_dse30_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Home"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IPOActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_ipo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ItemInfo"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_item_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewsActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Portfolio_activity"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_portfolio_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Splash_activity"
            android:label="SmartDSE"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Top10Gainers"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_top10_gainers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Top10Shares"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_top10_shares"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Watch_List_list_view"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_watch__list_list_view"
            android:screenOrientation="portrait" />

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".services.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".activities.AGMActivity"
            android:label="@string/title_activity_agm"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewsDetail"
            android:label="@string/title_activity_news_detail"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Currency"
            android:label="@string/title_activity_currency"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MarketDepth"
            android:label="@string/title_activity_market_depth"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.PriceAlertService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.PriceAlert"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_price_alert"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ExpertAnalysis"
            android:label="@string/title_activity_expert_analysis"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WeeklyReport"
            android:label="@string/title_activity_weekly_report"
            android:finishOnTaskLaunch="true"

            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FullScreenGraph"
            android:label="@string/title_activity_full_screen_graph"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Chat"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="adjustPan"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Login_logout"
            android:label="@string/title_activity_login_logout"
            android:finishOnTaskLaunch="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".activities.StockOnNewsPaper"
            android:label="@string/title_activity_stock_on_news_paper"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BuyNow"
            android:label="@string/title_activity_buy_now"

            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SendID"
            android:label="Activation Center"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" />

        <activity
            android:name=".activities.ItemDetailWeb"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_item_detail_web"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
